* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Підключення шрифтів */
/* romanesco-regular - latin */
@font-face {
    font-family: "Romanesco";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/romanesco-v9-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/romanesco-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-regular - latin */
@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/playfair-display-v22-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/playfair-display-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.body {
    /* дефолтні значення для нового тексту */
    font-family: "Roboto";
    font-style: normal;
    font-size: 25px;
    line-height: 1.2;
    font-weight: normal;
    color: aqua;
}

/* Header styles start*/
.header {
    background-color: #131312;
    top: 0;
    left: 0;
    width: 100%;
}
.headerfixed {
    top: 0;
    left: 0;
    position: fixed;
}
.header_active {
    background: #131312;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header nav {
    display: flex;
    justify-content: space-between;
}
.header_item {
    display: flex;
    justify-content: flex-start;
}
.header_link {
    display: flex;
    justify-content: center;
    padding: 15px 40px 15px 40px;
    width: 209.5px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24 px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.header_logomini_pic {
    margin-bottom: 50px;
}
.header_logo_pic {
    margin: 0px 15px 1px 0px;
}
.header_nav {
    padding-bottom: 26.5px;
}
.header_list > li:hover .submenu_list {
    display: block;
    transition: all 0.3s ease;
}
.submenu_list > li:hover .sub_submenu_list {
    display: block;
    transition: all 0.3s ease;
}
.header_link:hover {
    background: #ffffff;
    border-left: 1px solid #131312;
    border-right: 1px solid #131312;
    color: #131312;
    transition: all 0.3s ease;
}
.submenu_item:hover {
    background: #bdbdb5;
    transition: all 0.3s ease;
}
.sub_submenu_item:hover {
    background: #bdbdb5;
    transition: all 0.3s ease;
}
.submenu_list {
    display: none;
    min-width: 209.5px;
    margin-top: 48px;
    position: absolute;
}
.submenu_item:first-child {
    border-top: 1px solid #131312;
}
.submenu_item {
    min-width: 209.5px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-left: 1px solid #131312;
    border-right: 1px solid #131312;
    border-bottom: 1px solid #131312;
    transition: all 0.3s ease;
}
.sub_submenu_list {
    display: none;
    position: absolute;
    right: -209.5px;
    top: 41px;
}
.submenu_link {
    padding: 10px 25px 10px 25px;
    font-family: Roboto;
    font-size: 15x;
    line-height: 20px;
    text-decoration: none;
    color: #131312;
}

/*header_burger*/
.header_burger {
    display: none;
    width: 60px;
    height: 52px;
    position: relative;
    margin: 25px 50px 25px 0px;
}
.burger_line {
    background-color: #9f9999;
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
}
.burger_line_1 {
    top: 0;
}
.burger_line_2 {
    top: 50%;
    transform: translateY(-50%);
}
.burger_line_3 {
    bottom: 0;
}
/* Header styles end*/

/* Submit form start */
.form {
    display: none;
    position: absolute;
    background-color: rgb(116, 116, 116);
    border: 2px solid #131312;
    height: 350px;
    width: 420px;
    margin-left: 40%;
    z-index: 50;
    text-align: center;
}
.close_submenu {
    position: absolute;
    padding: 15px 15px;
    font-family: Roboto;
    line-height: 20px;
    text-decoration: none;
    color: #131312;
    margin-left: 170px;
}
.mainText {
    font-size: 27px;
    margin: 40px 0 5px 0;
    color: #030303;
}
.secondText {
    font-size: 18px;
    margin: 0;
    color: #030303;
    margin-bottom: 25px;
}
.formInput {
    background: #f1f1f1;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 15px auto 0 auto;
}
.formInput input {
    flex: 0.7;
    background: #f1f1f1;
    border: none;
    outline: none;
    font-size: 15px;
}
.send {
    border: none;
    color: #131312;
    background: #e8e141;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    transition: 0.4s;
    outline: none;
}
.send:hover {
    color: #e8e141;
    background: #131312;
}
.form:target {
    display: block;
    transition: 0.5s;
}
/* Submit form end*/

/* Intro styles start*/
.intro {
    min-height: 100vh;
    background: url(../img/Background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 50px;
}
.intro_title {
    max-width: 500px;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 50px;
    line-height: 67px;
    color: #000000;
    margin-bottom: 13px;
}
.intro_subtitle {
    max-width: 305px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #121111;
    margin-bottom: 68px;
}
.search_form_field {
    width: 266px;
    background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 3px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #121111; /*строрити лінію в 2 пікселі*/
    margin-right: 41px;
    padding-left: 43px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #121111;
}
.search_form_field::placeholder {
    /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
    font-size: 18px;
    line-height: 24px;
    color: #121111;
}
.search_form_submit {
    padding: 27px 51px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    border-radius: 15px;
    border: 0;
    color: #000000;
    background: #e8e141;
    box-shadow: 0px 5px 0px #b3ac35;
    transition-duration: 1s;
    position: relative;
}
.search_form_submit:hover,
.search_form_submit:focus,
.search_form_submit:active {
    top: 2px;
    box-shadow: 0px 3px 0px #b3ac35;
    transition-duration: 1s;
    background: #c9c243;
}
/* Intro styles end*/

/* Стилі слайдера */
.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slider__item {
    transition: all 0.3s ease 0s;
    opacity: 0.4;
    text-align: center;
    padding: 0px 15px;
}
.slider__item.slick-center {
    opacity: 1;
}
.slider__item img {
    max-width: 100%;
}
.slider {
    position: relative;
    padding: 0px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -60px 50px 0px 50px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 90px;
    border: 0;
}
.slider .slick-arrow:hover {
    opacity: 0.7;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 20px 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
}
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

/* Videos styles start */
.videos {
    width: 100%;
    margin: 50px 0px 0px 0px;
    /* background: #131312; */
}
.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item {
    padding-top: 56.25%;
}
.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Videos styles end */

/* footer styles start*/
.footer {
    background-color: #131312;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.footer {
    height: 149px;
}
.footer_item {
    display: flex;
    flex-wrap: wrap;
    height: 149px;
}
.footer_nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_menu_link {
    text-decoration: none; /*забрати пікселі на лінку*/
    margin-right: 57px; /* відступи між кнопками */
}
.footer_menu_link:last-child {
    /* відступи від останньої кнопки */
    margin-right: 0px;
}
.footer_menu_link:hover,
.footer_menu_link:focus,
.footer_menu_link:active {
    /*Підсвітити кнопки */
    opacity: 0.8;
}
.footer_menu_item_email {
    font-family: Roboto;
    max-width: 223px;
    margin: 0;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}
.footer_menu_item_number {
    font-family: Roboto;
    max-width: 172px;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    align-items: center;
    text-align: center;
}
/* footer styles end*/

/* media styles start*/
@media screen and (max-width: 1400px) {
    .slider__item {
        opacity: 1;
    }
}
@media screen and (max-width: 1120px) {
    .header_list > li:hover .submenu_list {
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.3s ease;
    }
    .submenu_list {
        min-width: 300px;
        margin-top: 0px;
    }
    .header_item {
        flex-direction: column;
    }
    .header_link {
        display: flex;
        justify-content: start;
        padding: 15px 40px 15px 40px;
        width: 300px;
    }
    .header_burger {
        display: block;
    }
    .header_list {
        display: flex;
        flex-direction: column;
    }
    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        padding: 20px;
        transform: translate(100%);
        transition: 0.2s all linear;
    }
    .header_nav_close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header_nav_close_line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }
    .header_nav_close_line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav_close_line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header_nav_active {
        transform: translateX(0);
    }
    .header_item {
        min-width: 300px;
        min-height: 30px;
    }

    .header_link {
        width: 300px;
        height: 100px;
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen and (max-width: 920px) {
    .footer_menu_link {
        margin-right: 8px;
    }
}
@media screen and (max-width: 678px) {
    .intro_title {
        max-width: 300px; /*границя тексту*/
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 6px; /* відступ до наступного тексту */
    }
    .intro_subtitle {
        max-width: 250px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #121111;
        margin-bottom: 57px; /* відступ до наступного тексту */
    }
    .intro {
        padding-top: 68px;
    }
    .search_form_field {
        width: 160px;
        background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 9px;
        background-size: 13px;
        border: 0;
        border-bottom: 2px solid #121111; /*строрити лінію в 2 пікселі*/
        margin-right: 14px;
        padding-left: 19px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_field::placeholder {
        /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
        font-size: 11px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_submit {
        /*задати форму кнопці*/
        padding: 13px 16px; /*відступи від тексту до стінок кнопки*/
        text-transform: uppercase; /*зробити великі букви в кнопці*/
        font-size: 15px;
        line-height: 15px;
        color: #000000;
        background: #e8e141;
        border-radius: 25px;
        border: 0;
    }
}
@media screen and (max-width: 650px) {
    .header_logo {
        margin-bottom: 1px;
    }
    .header_burger {
        width: 30px;
        height: 26px;
        margin-right: 15px;
        margin-bottom: 25px;
    }
    .burger_line {
        width: 100%;
        height: 2px;
    }
    .footer {
        height: 76px;
    }
    .footer_item {
        height: 76px;
    }
    .footer_menu_item_email {
        font-family: Roboto;
        max-width: 106px;
        margin: 0;
        font-size: 10px;
        line-height: 12px;
        color: #ffffff;
    }
    .footer_menu_item_number {
        font-family: Roboto;
        max-width: 86px;
        font-size: 10px;
        line-height: 12px;
        color: #ffffff;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 361px) {
    .header_burger {
        width: 30px;
        height: 26px;
        margin-right: 15px;
    }
    .burger_line {
        width: 100%;
        height: 2px;
    }
    .intro_title {
        max-width: 189px; /*границя тексту*/
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 6px; /* відступ до наступного тексту */
    }
    .intro_subtitle {
        max-width: 120px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
        color: #121111;
        margin-bottom: 57px; /* відступ до наступного тексту */
    }
    .intro {
        padding-top: 68px;
    }
    .search_form_field {
        width: 136px;
        background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 13px;
        background-size: 9px;
        border: 0;
        border-bottom: 1px solid #121111; /*строрити лінію в 2 пікселі*/
        margin-right: 14px;
        padding-left: 19px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_field::placeholder {
        /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
        font-size: 8px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_submit {
        /*задати форму кнопці*/
        padding: 11px 16px; /*відступи від тексту до стінок кнопки*/
        text-transform: uppercase; /*зробити великі букви в кнопці*/
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        background: #e8e141;
        border-radius: 25px;
        border: 0;
    }
    .footer_menu_link {
        margin-right: 2px; /* відступи між кнопками */
    }
    .footer_menu_item_email {
        font-family: Roboto;
        max-width: 223px;
        margin: 0;
        font-size: 8px;
        line-height: 9px;
        color: #ffffff;
    }
    .footer_menu_item_number {
        font-family: Roboto;
        max-width: 70px;
        font-size: 8px;
        line-height: 9px;
        color: #ffffff;
        align-items: center;
        text-align: center;
    }
}
/* media styles end*/
